@model ProductListVM


<div class="single-block">
    <h3 class="sidebar-title">Categories</h3>
    <ul style="max-height: 400px; overflow-y: auto;" class="sidebar-menu--shop menu-type-2">
        <li><a class="category-item" style="cursor:pointer;" data-id="">All Category <span>(@Model.CategoryCount)</span></a></li>

        @if (Model.Categories != null)
        {
            @foreach (var cat in Model.Categories)
            {
                <li><a class="category-item" style="cursor:pointer;" data-id="@cat.Id">@cat.Name<span>(@(cat.ProductCategory.Count()))</span></a></li>
            }
        }
    </ul>
</div>
<input id="SelectedCategory" value="@Model.SelectedCategory" hidden/>


<div class="single-block">
    <h3 class="sidebar-title">Tags</h3>
    <ul style="max-height: 250px; overflow-y: auto;" class="sidebar-menu--shop menu-type-2">
        <li><a data-id="" style="cursor:pointer;" class="tag-item">All Tag<span>(@Model.TagCount)</span></a></li>
        @if (Model.Tags != null)
        {
            foreach (var tag in Model.Tags)
            {
                <li><a data-id="@tag.Id" style="cursor:pointer;" class="tag-item">@tag.Name<span>(@(tag.ProductTag.Count()))</span></a></li>
            }
        }
    </ul>
</div>
<input id="SelectedTag" value="@Model.SelectedTag" hidden/>


<div class="single-block filter-price mt-5 d-flex flex-column align-items-center">
    <h3 class="sidebar-title w-100">Filter by Price</h3>
    <div class="range-slider pt-30 d-flex gap-5 ">
        <div class="my-3 mr-2 text-center">
            <label class="mr-2 " for="minPrice">Min Price</label>
            <input value="@(Model.minPrice!=null?Model.minPrice:"")" type="number" id="minPrice" name="minPrice" placeholder="Min Price" class="form-control mt-1 mb-3 mr-2" />
        </div>
        <div class="my-3 ml-2 text-center">
            <label class="ml-2" for="maxPrice">Max Price</label>
            <input value="@(Model.maxPrice!=null?Model.maxPrice:"")" type="number" id="maxPrice" name="maxPrice" placeholder="Max Price" class="form-control mt-1 mb-3 ml-2" />
        </div>
    </div>
    <a class="btn btn--primary w-10 btn-submit" id=""> Filter</a>
    <a class="btn btn--primary w-5 btn-clear mt-4" id=""> Clear Filter</a>
</div>
