@model ProductListVM
@foreach (var product in Model.Products)
{
    <div class="col-lg-4 col-sm-6">
        <div class="product-card">
            <div class="product-grid-content">
                <div class="product-header">
                    <a href="~/cilent/#" class="author">
                        @product.Author
                    </a>
                    <h3><a asp-action="Detail" asp-route-id="@product.Id">@product.Name</a></h3>
                </div>
                <div class="product-card--body">
                    <div class="card-image">
                        <a asp-action="Detail" asp-route-id="@product.Id">
                            <img style="width:200px;height:200px;object-fit:cover" src="~/cilent/image/products/@(product.Images.FirstOrDefault(pi => !pi.IsDeleted && pi.IsMain)?.Url)" alt="Main Image">
                        </a>

                        <div class="hover-contents">
                            <a asp-action="Detail" asp-route-id="@product.Id" class="hover-image">
                                <img style="width:200px;height:200px;object-fit:cover" src="~/cilent/image/products/@(product.Images.FirstOrDefault(pi => !pi.IsDeleted && pi.IsHover)?.Url)" alt="Hove Image">
                            </a>
                            <div class="hover-btns">
                                <a href="~/cilent/cart.html" class="single-btn">
                                    <i class="fas fa-shopping-basket"></i>
                                </a>
                                <a href="~/cilent/wishlist.html" class="single-btn">
                                    <i class="fas fa-heart"></i>
                                </a>
                                <a class="single-btn">
                                    <i class="fas fa-random"></i>
                                </a>
                                <a data-toggle="modal" data-target="#quickModal"
                                   class="single-btn">
                                    @* asp-controller="Product" asp-action="Index" asp-route-modalId="@product.Id" *@
                                    <i class="fas fa-eye"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="price-block">

                        @if (product.DiscountPrice > 0 && product.DiscountPrice != null)
                        {
                            <span class="price">$@product.DiscountPrice</span>
                            <del class="price-old">$@product.Price</del>
                            @if (product.DiscountPrice > 0 && product.DiscountPrice != null && product.Price > 0)
                            {
                                <span class="price-discount">@Math.Round((decimal)(product.Price - product.DiscountPrice) / product.Price * 100)%</span>
                            }
                        }
                        else
                        {
                            <span class="price">$@product.Price</span>
                        }

                    </div>
                </div>
            </div>

            <div class="product-list-content">
                <div class="card-image">
                    <img style="width:200px;height:200px;object-fit:cover" src="~/cilent/image/products/@(product.Images.FirstOrDefault(pi => !pi.IsDeleted && pi.IsMain)?.Url)" alt="Main Image">
                </div>
                <div class="product-card--body">
                    <div class="product-header">
                        <a href="~/cilent/#" class="author">
                            @product.Author
                        </a>
                        <h3>
                            <a href="~/cilent/product-details.html" tabindex="0">
                                @product.Name
                            </a>
                        </h3>
                    </div>
                    <article>
                        <h2 class="sr-only">Card List Article</h2>
                        <p>
                            @product.Description
                        </p>
                    </article>
                    <div class="price-block">
                        @if (product.DiscountPrice > 0 && product.DiscountPrice != null)
                        {
                            <span class="price">$@product.DiscountPrice</span>
                            <del class="price-old">$@product.Price</del>
                            @if (product.DiscountPrice > 0 && product.DiscountPrice != null && product.Price > 0)
                            {
                                <span class="price-discount">@Math.Round((decimal)(product.Price - product.DiscountPrice) / product.Price * 100)%</span>
                            }
                        }
                        else
                        {
                            <span class="price-discount">20%</span>
                        }
                    </div>
                    <div class="rating-block">
                        @*    @for(int i = 0; i< product.Ratings.Count; i++)
                    {
                    <span class="fas fa-star star_on"></span>
                    }
                    @for (int i = 0; i < 5- product.Ratings.Count; i++)
                    {
                    <span class="fas fa-star "></span>
                    } *@

                    </div>
                    <div class="btn-block">
                        <a href="~/cilent/#" class="btn btn-outlined">Add To Cart</a>
                        <a href="~/cilent/#" class="card-link">
                            <i class="fas fa-heart"></i> Add To
                            Wishlist
                        </a>
                        <a href="~/cilent/#" class="card-link">
                            <i class="fas fa-random"></i> Add To
                            Cart
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>

}
<div class="row pt--30">
    <div class="col-md-12">
        <div class="pagination-block">
            <ul class="pagination-btns flex-center">

                @if (Model.CurrentPage != 1)
                {
                    <li>
                        <a  class="single-btn prev-btn " >
                            |<i class="zmdi zmdi-chevron-left"></i>
                        </a>
                    </li>
                }
                @for (int i = 1; i <= Model.TotalPageCount; i++)
                {
                    <li><a  class="single-btn" asp-route-page="@i">@i</a></li>

                }



                @if (Model.CurrentPage != Model.TotalPageCount)
                {
                    <li>
                        <a  class="single-btn next-btn" >
                            <i class="zmdi zmdi-chevron-right  asd"></i>|
                        </a>
                    </li>
                }



            </ul>
        </div>
    </div>
</div>


@section Script {


    <script>



        var cat = document.querySelectorAll(".category-item");

        cat.forEach(category => {
            var id = category.dataset.id;
            category.addEventListener("click", (e) => {
                e.preventDefault();
                console.log("click on category:", id);

                var formData = new FormData();
                formData.append('categoryId', id);

                fetch('/Product/ProductCategoryFilter', {
                    method: 'POST',
                    body: formData
                })
                    .then(response => response.text())
                    .then(x => {
                        document.querySelector(".product").innerHTML = x;
                    })
                    .catch(error => {
                        console.error("Error fetching products:", error);
                    });
            });
        });


    </script>

}