@model ProductListVM


<div class="single-block">
    <h3 class="sidebar-title">Categories</h3>
    <ul style="max-height: 400px; overflow-y: auto;" class="sidebar-menu--shop menu-type-2">
        <li><a class="category-item" data-id="" href="~/cilent/#">All Category <span>(@Model.CategoryCount)</span></a></li>

        @if (Model.Categories != null)
        {
            @foreach (var cat in Model.Categories)
            {
                <li><a class="category-item" data-id="@cat.Id" href="~/cilent/#">@cat.Name<span>(@(cat.ProductCategory.Count()))</span></a></li>
            }
        }
    </ul>
</div>
<input id="SelectedCategory" value="@Model.SelectedCategory" />
