@model CategoryListVM

@foreach (Category category in Model.Categories)
{
    <tr class="even  align-items-center ">
        <td style="vertical-align: middle;" class="align-items-center @(category.ParentCategoryId == null?"bg-success text-white":"") ">@category.Name</td>
        <td style="vertical-align: middle;" class="align-items-center">
            <a asp-area="Admin" asp-controller="Category" asp-action="Details" asp-route-id="@category.Id" class="btn btn-sm btn-primary">Detail</a>
        </td>
        <td style="vertical-align: middle;" class="align-items-center">
            <a asp-area="Admin" asp-controller="Category" asp-action="Update" asp-route-id="@category.Id" class="btn btn-sm btn-warning">Edit</a>
        </td>
        <td style="vertical-align: middle;" class="align-items-center">
            <a href="#" class="btn btn-sm btn-danger delete-category" data-id="@category.Id">Remove</a>
        </td>
    </tr>
}